.status-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.status-bar__column {
  display: flex;
  align-items: center;
}

.status-bar__column span {
  font-weight: 600;
  font-size: 20px;
}

.status-bar__column:first-child span {
  margin-left: 5px;
}

.status-bar__column:last-child span {
  font-size: 20px;
}

.ri-rotate-lock-fill {
  margin-right: 5px;
}

.ri-battery-low-line {
  margin-right: 5px;
}
